@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00BCD4;
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
}

.header>h1 {
    color: white;
    margin-left: 5vw;
}

.header > #day-time{
    align-self: center;
    margin-right: 5vw;
}

#taskInputField {
    background-color: lightgray;
    width: 65vw;
    height: 7vh;
    border: 1px solid lightgray;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}

#taskInputField:focus {
    outline: none !important;
    border:1px solid green;
    background-color: white;
}



.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    background-color: #F5F5F5;
    width: 80vw;
    height: 10vh;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.card>span {
    font-size: large;
    width: 70vw;
    margin-left: 30px;
    margin-right: 30px;
    color: #212121;
}

.checkbox-card {
    margin-left: 2vw;
    width: 15px;
    height: 15px;
}

.deleteButton {
    color: red;
    background-color: transparent;
    cursor: pointer;
}

#taskForm>button {
    width: 5vw;
    height: 5vh;
    background-color: white;
    color: green;
    cursor: pointer;
}

#day-time{
    color: white;
}

